<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,200&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,400;1,200&display=swap" rel="stylesheet">
    <title>MixNMatch</title>
</head>
<body>

<div class="flex-column justify-space-around">
    <header class="primaryHeader display-flex justify-space-between align-center p-2">
      
        {{#if logged_in}}
        <button class="log_out banner_btn" id="logout">Log Out</button>    
        {{else}}
        <button class="log_in primary" onclick="location.href='/login'">Log in</button>
        <button class="signup primary" onclick="location.href='/signup'">Sign up</button>
        {{/if}}
    </header>   


    <main class="container container-fluid mt-5">
         <div class="jumbotron">
             <h1 class="display-4">Mix n Match</h1>       
             
                        <marquee class="welcome_info lead">
                            Join today to get in touch with your future drinking buddies!
                        </marquee>           
                    <div>
                        {{{ body }}}        
                    </div>
             </div>          

          
  

    </main>
    <footer class=" container-fluid footer mt-auto fixed-bottom">
        mix|match\yadayada
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>   
{{#if logged_in}}
<script src="/js/logout.js"></script>
{{/if}}

</div>
</body>
</html>



