<div class="container">
    <div class="col-sm-12 col-md-6 col-lg-3">
        <h2>Signup</h2>

        <form class="form signup-form">

            <div class="form-group">
                <label for="first_name-signup">First Name:</label>
                <input class="form-input" type="text" id="first_name-signup" />
            </div>

            <div class="form-group">
                <label for="last_name-signup">Last Name:</label>
                <input class="form-input" type="text" id="last_name-signup" />
            </div>

            <div class="form-group">
                <label for="email-signup">email:</label>
                <input class="form-input" type="text" id="email-signup" />
            </div>

            <div class="form-group">
                <label for="password-signup">password:</label>
                <input class="form-input" type="password" id="password-signup" />
            </div>

            <div class="form-group">
                <label for="age-signup">Age:</label>
                <input class="form-input" type="age" id="age-signup" />
            </div>

            <div class="form-group">
                <label for="city-signup">City:</label>
                <input class="form-input" type="text" id="city-signup" />
            </div>

            <div class="form-group">
                <label for="preferred_pronoun-signup">Preferred Pronoun:</label>
                <select id="preferred_pronoun-signup" class="form-input"name="preferred_pronoun">
                    <option value=""></option>
                    <option value="He/Him">He/Him</option>
                    <option value="She/Her">She/Her</option>
                    <option value="They/Them">They/Them</option>
                    <option value="other">Other</option>
                </select>
                <!--<input class="form-input" type="text" id="preferred_pronoun-signup" />-->
            </div>

            <div class="form-group">
                <label for="hobbies-signup">Hobbies:</label>
                <input class="form-input" type="text" id="hobbies-signup" />
            </div>

            <div class="form-group">
                <label for="dating_friendship-signup">Dating or Friendship:</label>
                <select class="form-input" name="dating_friendship" id="dating_friendship-signup">
                    <option value=""></option>
                    <option value="dating">Dating</option>
                    <option value="friendship">Friendship</option>
                </select>
            </div>

            <div class="form-group">
                <label for="interested_in-signup">Interested In:</label>
                <select class="form-input" name="interested_in" id="interested_in-signup">
                    <option value=""></option>
                    <option value="He/Him">He/Him</option>
                    <option value="She/Her">She/Her</option>
                    <option value="They/Them">They/Them</option>
                    <option value="other">Other</option>
                </select>
            </div>

            <div class="form-group">
                <label for="beers_name-signup">Beers:</label>
                <input class="form-input" type="text" id="beers_name-signup" />
            </div>



            <div class="form-group">
                <button class="btn btn-primary" type="submit">signup</button>
            </div>
        </form>

    </div>
</div>

<script src="/js/signup.js"></script>